.btn {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;

  // 3) Parent Selector (&) - permette di riferirsi al genitore in questo contesto, senza ripetere il suo nome più volte
  &-discover {
    background-color: $btnDiscover;
    border-color: $btnDiscover;
    color: scale-color($btnDiscover, $lightness: -60%);
  }
  &-login {
    background-color: $btnLogin;
    border-color: $btnLogin;
    color: scale-color($btnLogin, $lightness: -60%);
  }
  &-contacts {
    background-color: $btnContattaci;
    border-color: $btnContattaci;
    color: scale-color($btnContattaci, $lightness: -60%);
  }
}
